.contain {
    text-align: right;
    font: bolder;
}
.contain1{
    font-family: cursive;
    display: flex;
    gap: 5%;
    background-color: black;
    border: none;
    padding: 30px;

}
.contain2{
    margin: 100px;
    font-size: xx-large;
    margin-bottom: 35px;

}
h1{
    margin-left: 50px;
    font-size: xx large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: dodgerblue;
    margin-top: 35px;
}
.contain3{
    margin-left: 75px;
    font-family: cursive;
}
.butt{
    display: flex;
    gap: 5%;
    margin-top: 30px;
    margin-left: 100px;
}
button{
    height: 60px;
    width: 200px;
    background-color: black;
    border-radius: 30px;
    border: none;
    font-size: large;
    font-family: cursive;
}
.top{
    background-image: url(./img/Screenshot_17-2-2025_231110_.jpeg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-color: darkseagreen;
    background-blend-mode: multiply;
}
.flex1{
    display: flex;
    margin-top: 35px;
    margin-left: 75px;
}
 .img1{
    display: inline-block;
    padding: 30px;
    margin-left: 55px;
    background-color: yellow;

    }
.img2{
    padding: 25px;
    margin-left: 55px;
    display: inline-block;
    padding-top: 10px;
    background-color: cadetblue;
}
span{
    font-family: cursive;
}
.img3{
    display: inline-block;
    padding: 30px;
    margin-left: 55px;
    background-color: brown;
    
}
.flex2{
    display: flex;
    margin-right: 30px;
}
.about{
    margin: 19px;
    display: inline;
    margin-top: 120px;
    margin-left: 100px;

}
.flex3{
display: flex;
gap: 4%;
margin-left:60px;
margin-top: auto;
}
b{
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contact{
    text-align: center;
}
.flex4{
    margin-left: 30px;
    padding: 30px;
    display: inline-block;
    font-family: cursive;
    
}

a{
    color: yellow;
}
body{
    min-width: fit-content;
    max-height: fit-content;
}
.sub{
    background-color: rgb(208, 241, 18);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.on{
    margin-left: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 60px;
}
.details{
    margin-left: 100px;
    margin-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21px;
    font-weight: bold;
}
.mail{
    margin-left: 100px;
    margin-top: 30px; 
    
}
.state{
    margin-left: 70px;
    margin-top: 20px;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}
.add{
    margin-top: 20px;
    font-size: 19px;
 font-weight: bold; 
 font-style: italic;   
} 
.street{
   font-family: monospace;
   font-size: 16px;
}

span{
    font-size: 18px;
    font-weight: 200px;
}
.flexx{
    
    display: inline-block;
}
.allflex{
display: flex;
gap: 3%;
border: none;
}
.form input{
    width: 300px;
    height: 25px;
    border-radius: 20px;  
    padding: 5px;
    border: none;
}
p.rev{
    margin-left: 30px;
}
.log h3{
text-align: center;
}
.log2 input{
    border: 1px groove;
    display: inline-flex;
    border-radius: 15px;
    width: 250px;
    height: 30px;
    font-family: cursive;
}
.log2{
border: 2px groove tomato;
display: inline-block;
margin-left: 440px;
margin-top: 30px;
padding: 50px;
border-radius: 19px;
font-family: cursive;
font-weight: 500px;
}
h2.regg{
    text-align: center;
}
.reg{
    margin-left: 90px;
    margin-top: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.reg input{
    padding: 9px;
    border-radius: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.reg option{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 9px;
    background-color: rgb(105, 207, 207);
}
.reg select{
    border-radius: 8px;
    height: 30px;
}
.flex img{
    background-blend-mode: difference;
}
.sat{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.review{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.sat input{
    border-radius: 9px;  
} 
.car{
    width: 70px;
    height: 24px;
    background-color: rgb(195, 245, 103);
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

   }
.form select{
    width: 40%;
    height: 37px;
    border-radius: 20px;
}
.mailflex{
    display: flex;
    font-family: cursive;
    gap: 2px;
    font-size: 17px;
}

@media screen and (max-width: 760px) {

body{
    max-width: fit-content;
    max-height: fit-content;
}
.top{
    text-align: center;
    margin-right: 40px;
    font-size: 30px;
}
.contain2{
    font-size: 48px;
}
.butt{
    margin-left: 170px;
    gap: 22%;
}
.flex1{
    font-size: 28px;
}
.flex1 img {
    height: 50px;
    margin-top: 35px;
    margin-left: 15px;
}
.flex2{
    padding-bottom: 1px;
    font-size: 19px;
}
.flex3 img{
    width: 270px;
    height: 447px;
    margin-top: 40px;
}
.flex3{
    margin-left: 50px;
}
.about{
    font-size: 24px;
    margin-right: 30px;
    margin-top: 58px;
    margin-left: 13px;
}
.fav{
    font-size: 30px;
}
.contact{
    font-size: 23px;
}
p .let{
    font-size: 25px;
}
.allflex{
display: inline;;
}
p.on{
    margin-left: 15px;
    margin-bottom: 20px;
}
.form{
    font-size: 30px;
}
.flexx{
    margin-right: 30px;
    font-size: 30px;
}
.contain1{
    margin-left: 0%;
    padding-left: 50px;
    margin-right: 0%;
}
h1{
    font-size: 40px;
}
.form select{
    width: 40%;
    height: 40px;
    border-radius: 20px;
}
.details{
    font-size: 40px;
}





















}

